.aboutusmain{
   width: 80%;
   margin: 4rem auto; 
}
.aboutusmain__image img{
    border-radius: 5px;
}
.aboutusmain__content__item{
    margin-top: 3rem;
}
.aboutusmain__content__item h3{
    font-size: 40px;
    color: var(--color-primary);
}
.aboutusmain__content__item p{
    margin-top: 10px;
    font-weight: 200;
    font-size: 18px;
    text-align: justify;
}