.customerpanel{
    background-color: #fff;
    border-radius: 13px;
    width: 100%;
    box-shadow: 1px 1px 19px #00000047;
    padding: 2rem;
}
.customerpanel__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.customerpanel__bottom__item{
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: #f0f2f7;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 13px;
    margin-bottom: 2rem;
}
.customerpanel__bottom__item__item button{
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.customerpanel__bottom__item__item button:hover{
    opacity: 0.7;
}
@media screen and (max-width:950px){
    .customerpanel__bottom__item{
        font-size: 14px;
    }
}
@media screen and (max-width:550px){
    .customerpanel__bottom__item{
        font-size: 12px;
    }
    .customerpanel__bottom__item__item button{
        padding: 0.2rem 0.5rem;
        font-size: 12px;
    }
    .customerpanel__top__item{
        font-size: 12px;
    }
    .customerpanel{
        padding: 1rem;
    }
    .customerpanel__bottom__item{
        margin-bottom: 1rem;
        padding: 1rem;
    }
}
@media screen and (max-width:420px){
    .customerpanel__bottom__item{
        font-size: 10px;
    }
    .customerpanel__bottom__item__item button{
        font-size: 10px;
    }
}